* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F1F1;
}
#container { 
    width: 1080px;
    margin: 0 auto;
}
#header h1 {
    color: #4D4D4D;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;  
}
#nav{
    margin: 0 auto;
    background-color: #E9CC4A;
}   
#menu {
    height: 50px;
    background-color: #E9CC4A;
}
#menu ul{
    list-style-type: none;
    background-color: #E9CC4A;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    text-decoration: none;
    color: #8F812E;
    font-size: 20px;
    display: block;
    padding: 13.5px 20px;
    transition: 0.3s ease;
}
#menu ul li a:hover{
    background-color: #FBDF5A;
    border-bottom: 3px solid #D0B729;
}