* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F1F1;
}
#container { 
    width: 1080px;
    margin: 0 auto;
}
#header h1 {
    color: #4D4D4D;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;  
}
#nav{
    margin: 0 auto;
    background-color: #E9CC4A;
}   
#menu {
    height: 50px;
    background-color: #E9CC4A;
    float: left;
    margin-right: 370px;
}
#menu ul{
    list-style-type: none;
    background-color: #E9CC4A;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    text-decoration: none;
    color: #8F812E;
    font-size: 20px;
    display: block;
    padding: 13.5px 20px;
    transition: 0.3s ease;
}
#menu ul li a:hover{
    background-color: #FBDF5A;
    border-bottom: 3px solid #D0B729;
}
#searchbox {
    overflow: hidden;
    background-color: #E9CC4A;
    height: 50px;
}
#searchbox .text{
    background-color: #C5A723;
    border: none;
    color: white;
    padding: 5px 8px;
    margin-top: 11px;
}
#searchbox .submit{
    background-color: #736025;
    border: none;
    color: #8F812E;
    padding: 5px 8px;
}
#searchbox .submit:hover{
    cursor: pointer;
}
#section{
    border-bottom: 1px dashed #adabab;
    overflow: hidden;
}
#section h3{
    color: #4D4D4D;
    padding: 20px 20px 5px 20px;
    font-weight: 500;
    font-size: 20px;
}
#section p{
    color: #6b6b6b;
    text-align: justify;
    padding: 0 10px;
    padding-bottom: 10px;
}
#section div{
    float: right;
    background-color: #A92F2E;
    width: 100px;
    margin-bottom: 10px;
}
#section div p{
    text-align: center;
    padding: 5px 2px;
}
#section div p a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
#section div p a:hover{
    color: black;
}